.menu-link {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  background: $white;
  padding: 0 12px;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    background: $light-green;
  }

  &.active {
    background: $light-green;
  }
}

.menu-link__icon {
  width: 20px;
  height: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.menu-link__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  letter-spacing: 0.14px;
  color: $black;
  margin-left: 12px;
}