.app-layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.app-layout__wrapper {
  width: calc(100% - 260px);
  height: 100vh;
  padding: 30px 30px 0 30px;
  overflow: auto;
}

#global-full-loader {
  display: none;

  &.show {
    display: flex;
  }
}