.button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 2px solid var(--primary);
  cursor: pointer;
  background: var(--primary);
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-foreground);
  transition: all .3s ease;
  overflow: hidden;

  &:hover {
    color: var(--primary);
    background: var(--primary-foreground);
  }
}

.button__loader {

  .loader {
    width: 24px;
    height: 24px;
    border: 3px solid $light-green;
    border-bottom-color: $green;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}