.expenses-tabs__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.expenses-tabs__month {
  width: calc(100% - 88px);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 0 20px;
}

.expenses-tabs__month-text {
  font-weight: 600;
  font-size: 18px;
  color: $black;
}

.expenses-tabs__button {
  width: 44px;
  padding: 0;

  svg {
    width: 24px;
    height: 24px;
  }
}