$black: #202020;
$white: #fff;
$birch: #0FC2C0;
$red: #FE5050;
$light-blue: #85C6F0;
$gray-100: #E0E0E0;
$gray-200: #CACACA;
$gray-300: #B6B6B6;
$gray-400: #A0A0A0;
$gray-500: #8B8B8B;

$shadow-card: 0 0 12px 0 rgba(66, 68, 90, .4);